.Nav {
  display: flex;
  align-items: center;
  @include mq-max(lg) {
    display: none;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1rem 2rem;
    background-color: $white;
    border-radius: 50px;
    box-shadow: 0 0 8px transparentize($black, 0.84);
  }

  &__item {
    & > .nuxt-link-active {
      font-weight: 700;
      padding: 0.5em 0.5rem;
      color: $txtColor;
      transition: color $transition;
      &:hover {
        color: $mainColor;
      }
    }
  }

  &--Mobile {
    display: none;
    @include mq-max(lg) {
      position: relative;
      display: block;
      width: 3.733rem;
      height: 3.733rem;
      background-color: $mainColor;
      box-shadow: 0 0 8px transparentize($black, 0.84);
      border-radius: 50%;
      cursor: pointer;
    }

    > span {
      display: inline-block;
      position: absolute;
      border-radius: 4rem;
      width: 2rem;
      height: 3px;
      background-color: $white;
      top: calc( 50% - 0.125em );
      left: 25%;
      transition: all $transition;
      &:nth-of-type(1) {
        transform: rotateZ(0) translateY(-0.625em);
      }
      &:nth-of-type(2) {
        opacity: 1;
      }
      &:nth-of-type(3) {
        transform: rotateZ(0) translateY(0.625em);
      }
    }
  }

  &--active {
    > span {
      &:nth-of-type(1) {
        transform: rotateZ(45deg) translateY(0);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: rotateZ(-45deg) translateY(0);
      }
    }
  }

}

.Fullscreen{
  &Menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: .3s cubic-bezier(.1,.2,.3,1) .5s;

    &--close {
      opacity: 0;
      visibility: hidden;
      .FullscreenMenu {
        &__bg {
          opacity: 0;
          transform: translateZ(0) scale(0);
          transition: transform .8s cubic-bezier(.6,-.01,.1,1) .3s,
          opacity .3s ease-out .5s;
        }
      }
    }

    &--open {
      opacity: 1;
      visibility: visible;
      .FullscreenMenu {
        &__bg {
          opacity: 1;
          transform: translateZ(0);
          transition: transform .8s cubic-bezier(.4,.1,.3,1) .1s,
                      opacity .3s cubic-bezier(.4,.1,.3,1) .5s;
        }
      }
    }

    &__bg {
      position: absolute;
      top: 4.125rem;
      right: 3.125rem;
      width: 230vw;
      height: 230vh;
      margin-top: -115vh;
      margin-right: -115vw;
      border-radius: 99rem;
      background-color: $mainColor;
    }

    &__inner {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 2rem 1rem;
      overflow-y: auto;
      @include mq-max(se) {
        padding: 2rem 1rem 0;
      }
    }

    &__nav {
      margin-top: 2rem;
      padding-left: 3rem;
      @include mq-max(x) {
        margin-top: 4rem;
        padding-left: 1rem;
      }
    }

    &__item {
      font-weight: 500;
      margin-top: 1.4rem;
      @include mq-max(se) {
        margin-top: 1rem;
      }
      .FullscreenMenu__item {
        margin-top: 0.5rem;
      }
      > a {
        position: relative;
        display: inline-block;
        color: $white;
        padding: 0 0 0 0.05rem;
        width: 100px;
        transition: color $transition;
        & > .svg-inline--fa {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          transition: right $transition;
        }
        &:hover {
          color: $greenDark;
          & > .svg-inline--fa {
            right: -0.25rem;
          }
        }
      }
    }

    &__title {
      position: relative;
      color: $white;
      font-size: 2rem;
      @include mq-max(x){
        font-size: 1.6rem;
      }
      & > a {
        color: $white;
        &:hover {
          color: $greenDark;
        }
      }
    }

    &__rowNav {
      margin-top: 0.667rem;
    }
  }

  &CloseBtn {
    display: none;
    @include mq-max(lg) {
      position: absolute;
      display: block;
      width: 3.733rem;
      height: 3.733rem;
      top: 0;
      right: 1rem;
      background-color: $white;
      box-shadow: 0 0 8px transparentize($black, 0.84);
      border-radius: 50%;
      cursor: pointer;
      top: 2em;
    }

    > span {
      display: inline-block;
      position: absolute;
      border-radius: 1.5em;
      width: 2em;
      height: 3px;
      background-color: $mainColor;
      top: 50%;
      left: 25%;
      &:nth-of-type(1) {
        transform: rotateZ(45deg) translateY(0);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: rotateZ(-45deg) translateY(0);
      }
    }
  }
}
