.Label {
  display: inline-block;
  font-size: 0.825rem;
  padding: 3px 5px;
  margin-right: 5px;
  border-radius: 5px;
  line-height: 1;
  color: $white;
  background-color: $chacoal;
}


$theme-colors: (
  Wordpress:  #00A0D2,
  Vuejs: #3fb27f,
  BoltCMS: #3c5a7e,
  Angular: #BD002E,
  MovableType: #002666,
  Design: #c66394,
  XD:#470137,
  NuxtJS: #2b475e,
);

// 使うときは↓こう（each利用）
@each $key, $color in $theme-colors {
  .Label--#{$key} {
      background-color: $color;
  }
}

.Label--XD {
  color: #fb65fa;
}
.Label--NuxtJS {
  color: #20c68f;
}