/* details */
@import "../_foundation/variables";
@import "../_foundation/mediaqueries";

.Detail {

  &__head {
    font-size: 1.5rem; // 24px
    margin-bottom: 0.5rem;
    color: $txtColor;
    line-height: 1.5;
    @include mq-max(xs) {
      font-size: 1.25rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    @include mq-max(xs) {
      flex-direction: column;
    }
  }
  &__date {
    @include mq-max(xs) {
      margin-bottom: 5px;
    }
  }
  &__cat {
    @include mq-max(xs) {
      display: flex;
      flex-direction: row;
    }
  }

  &__date {
    margin-right: 10px;
  }
  &__paragraph {
    white-space: pre-wrap;
    margin-bottom: 1rem;
    > a {
      text-decoration: underline;
    }
  }

  &--row {
    .Detail {
      &__inner {
        display: flex;
        flex-direction: row;
      }
      &__contents {
        width: 60%;
      }
      &__images {
        width: 40%;
        padding-left: 15px;
        >img {
          box-shadow: 0 0 24px transparentize($glay, 0.86);
        }
      }
    }
  }

  &--col {
    .Detail {
      &__contents {
        width: 100%;
      }
      &__inner {
        display: flex;
        flex-direction: column;
      }
      &__images {
        > img {
          border-radius: 1rem;
          margin-bottom: 1rem;
        }
      }
    }
  }

  .Btn__wrap {
    @include mq-max(xs) {
      display: flex;
      flex-direction: column-reverse;
      margin: 1rem 0;
    }
  }
  .Btn--white {
    margin: 1rem;
    @include mq-max(xs) {
      margin: 1rem 0 0;
    }
  }
}

.Overview {
  display: flex;
  flex-direction: row;
  &__head {
    font-weight: 700;
    width: 15rem;
  }
  &__paragraph {
    margin-bottom: 0.666rem;
  }
}